:root {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.chess {
    display: inline-block;
    width: 640px;
    height: 640px;
    border: 30px solid transparent;
    border-image: url(../img/board.jpg)  30 / 30px stretch;
    background:   
    conic-gradient(#D2B48C 0.25turn, #2A0A0A 0.25turn 0.5turn, #D2B48C 0.5turn 0.75turn, #2A0A0A 0.75turn)
top left / 25% 25% repeat;
}

.black {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /*margin-left: 15px;
    margin-top: 15px;*/
    background: radial-gradient(circle closest-side, #2E2E2E 5px, #848484  20px, #2E2E2E  1px, #848484  30px)
}

.wite {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(circle  closest-side, #BDBDBD  5px, white 20px, #BDBDBD 1px, white 30px);
}  
   
   
   


   