:root {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.chess {
    display: inline-block;
    width: 640px;
    height: 640px;
    border: 30px solid transparent;
    border-image: url(../img/board.jpg)  30 / 30px stretch;
    background: /*repeating-linear-gradient(45deg, #2D0C0C, #2D0C0C 10px, #F2E998 10px,
    #F2E998 20px),*/ 
    conic-gradient(#D2B48C 0.25turn, #800000 0.25turn 0.5turn, #D2B48C 0.5turn 0.75turn, #800000 0.75turn)
    top left / 25% 25% repeat;
    /*background-size: 160px 160px;*/
}

.black {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /*margin-left: 15px;
    margin-top: 15px;*/
    background: radial-gradient(circle closest-side at 43px 43px, #2E2E2E 5px, #848484  20px, #2E2E2E  1px, #848484  30px)
}

.wite {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(circle at 123px 597px closest-side, #BDBDBD  5px, white 20px, #BDBDBD 1px, white 30px);
}  
   
   
   
   
   

   